*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Sriracha', cursive;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(pizzaMushroms.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
  }

#navegacion ol{    
    display: flex;    
    padding:0px;  
    float: right;  

}

#navegacion ol li{    
    /*padding-right: 20px;    margin-left:20px;*/    
    list-style: none;   
    /*padding-top:15px; */    /*line-height: 50px; */    
    display: block; 
}

#navegacion ol li a{    
    background-color: rgba(128, 128, 128, 0.137);
    text-decoration: none;       
    font-weight: bold;    
    padding: 15px 18px;    
    display: table; 
}

#navegacion ol li a:hover{    
    color: orange;    
    text-decoration: underline; 
}



h1{
    font-size: 72px;
    color: orange;
}

#encabezado{
    padding-top: 8%;
    margin-left: 60%;
}

footer{
    position: absolute;
    top: 98vh;
    left: 75vh;
}

p{
    font-size: 40px;
    margin-top: 4%;
    margin-left: 40%;
    color: white;
    font-weight: bolder;
    text-align: center;
}

.active{    
    color:orange;    
    background-color:goldenrod; 
}

.mapouter{
    margin-top: 3%;
    margin-left: 62%;
}