*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Sriracha', cursive;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(tableWithPizza.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
  }

#navegacion ol{    
    display: flex;    
    padding:0px;  
    float: right;  

}

#navegacion ol li{    
    /*padding-right: 20px;    margin-left:20px;*/    
    list-style: none;   
    /*padding-top:15px; */    /*line-height: 50px; */    
    display: block; 
}

#navegacion ol li a{    
    background-color: rgba(128, 128, 128, 0.137);
    text-decoration: none;       
    font-weight: bold;    
    padding: 15px 18px;    
    display: table; 
}

#navegacion ol li a:hover{    
    color: orange;    
    text-decoration: underline; 
}

h1{
    font-size: 72px;
    color: rgb(255, 166, 0);
    
}

#encabezado{
    padding-top: 4%;
    padding-left: 9%;
}

footer{
    position: absolute;
    top: 98vh;
    left: 75vh;
}


.active{    
    color:orange;    
    background-color:goldenrod; 
}



img {
    float: left;
    
    margin: 3% 0 0 3%;
}

p{
   float: right;
   margin-right: 15%;
   margin-top: 10%;
   font-size: 40px;
   font-weight: bold;
}